* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #f9faf8
}

button {
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
}

img {
    display: flex;
    width: 500px;
    height: auto;
}

.hero, 
.footer {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.hero-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 24px;
}

.hero-title {
    display: flex;
    font-size: 48px;
    font-weight: 900;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding: 36px;
}

.info-img {
    width: 200px;
    height: auto;
    border-radius: 16px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    text-align: center;
}

.info-content {
    display: flex;
    padding-bottom: 64px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.quote-content {
    width: 600px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-speaker {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: 900;
    padding-top: 24px;
}

.action-container {
    display: flex;
    justify-content: center;
    padding: 64px;
}

.call-action {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    display: inline-flex;
    padding: 36px;
    gap: 36px;
}

.action-header {
    font-weight: 900;
    font-size: 24px;
}

.wborder {
    border: 2px solid white;
}

.footer {
    align-items: center;
    padding: 36px;
}